on init
    # Goodix fingerprint
    chown system system /dev/goodix_fp

service fingerprint-inscreen-1-0 /system_ext/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.rog2
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
