[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/refs/heads/*"]
	pushMerge = group Asus rog maintainers
[access "refs/heads/*"]
	create = group Asus rog maintainers
	label-Code-Review = -2..+2 group Asus rog maintainers
	push = +force group Asus rog maintainers
	pushMerge = group Asus rog maintainers
	submit = group Asus rog maintainers
