# rootfs
type asdf_file, file_type;
type bat_file, file_type;
type bt_firmware_file, file_type;
type demoapp_file, file_type;
type firmware_file, fs_type, contextmount_type;
type persist_file, file_type;
type voucher_file, file_type;
type xrom_file, file_type;

# Offscreen Gestures
type sysfs_gesture, sysfs_type, fs_type;
type proc_touchscreen, proc_type, sysfs_type, fs_type;
type sysfs_touchscreen, sysfs_type, fs_type;

# FOD
type sysfs_fod, sysfs_type, fs_type;