# Allow init to chown/chmod on pseudo files in /sys
allow init sysfs_touchscreen:file { rw_file_perms setattr };
allow init sysfs_gesture:file { rw_file_perms setattr };

# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;