#allow platform_app asus_prop:file r_file_perms;
#allow platform_app vendor_file:file { execute };
allow platform_app app_data_file:file { execute };
allow platform_app rs_exec:file { execute execute_no_trans r_file_perms };