#allow priv_app hal_memtrack_hwservice:hwservice_manager find;
#allow priv_app mnt_vendor_file:dir search;
allow priv_app firmware_file:filesystem getattr;
allow priv_app bt_firmware_file:filesystem getattr;
allow priv_app {
    asdf_file
    bat_file
    demoapp_file
    postinstall_mnt_dir
    radio_data_file
    system_app_data_file
    voucher_file
    xrom_file    
}:dir getattr;
