allow system_app sysfs_gesture:file { rw_file_perms setattr };
allow system_app proc_touchscreen:file { rw_file_perms setattr };
allow system_app sysfs_touchscreen:file { rw_file_perms setattr };

# allow system app to get vendor_camera_prop
get_prop(system_app, vendor_camera_prop)
get_prop(system_app, vendor_persist_camera_prop)
