allow system_app {
  fts_gesture_mode
  -fts_gesture_c_mode
  -fts_gesture_e_mode
  -fts_gesture_v_mode
  -fts_gesture_s_mode
  -fts_gesture_w_mode
  -fts_gesture_z_mode
  -fts_gesture_up_mode
  -fts_gesture_down_mode
  -fts_gesture_left_mode
  -fts_gesture_right_mode
}:file { open write };

allow system_app {
  fts_gesture_mode
  -fts_gesture_c_mode
  -fts_gesture_e_mode
  -fts_gesture_v_mode
  -fts_gesture_s_mode
  -fts_gesture_w_mode
  -fts_gesture_z_mode
  -fts_gesture_up_mode
  -fts_gesture_down_mode
  -fts_gesture_left_mode
  -fts_gesture_right_mode
}:file getattr;