allow vendor_wfdservice vendor_wifidisplayhalservice_hwservice:hwservice_manager find;
allow priv_app vendor_wfdservice_service:service_manager find;
