on early-boot
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/lp_trigger_effect
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/scale

service system.vibrator-1-2 /system/bin/hw/android.hardware.vibrator@1.2-service.rog2
    class hal
    user system
    group system
