on boot
    # Screen Touch
    chown system system /sys/devices/platform/goodix_ts.0/glove_mode
    chmod 0660 /sys/devices/platform/goodix_ts.0/glove_mode

service vendor.vibrator-1-0 /system/bin/true
    disabled

service vendor.qti.vibrator /system/bin/true
    disabled

service vendor.qcc-trd /system/bin/true
    disabled

service vendor.fps_hal /system/bin/true
    disabled
