on init
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/fstab.qcom /vendor/etc/fstab.qcom bind
    mount none /system/lib/modules/wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
    mount none /system/lib64/hw/lights.msmnile.so /vendor/lib64/hw/lights.msmnile.so bind

on boot
    # Gestures
    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_c_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_c_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_e_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_e_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_v_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_v_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_s_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_s_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_w_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_w_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_z_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_z_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_left_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_left_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_right_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_right_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_up_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_up_mode

    chown system system /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_down_mode
    chmod 0660 /sys/devices/platform/soc/c80000.i2c/i2c-4/4-0038/fts_gesture_down_mode
